html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  line-height: 2.2;
  color: #FB0B04;
  font-size: 1.2em;
}

h2 {
  line-height: 1.5;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
}

p {
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-image {
  flex-basis: 30%;
  background: url(images/kanye2.jpg) no-repeat center;
  background-size: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
}

.box.heading {
  flex-basis: 100%;
  align-items: flex-start;
  padding: 20px;
}

.buttons-container {
  margin-top: 20px;
}

button {
  display: inline-block;
  min-width: 130px;
  min-height: 50px;
  padding: 10px;
  background: #3bbbb8;
  border: 3px solid #212121;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
}

button:hover {
  background-color: #FB0B04;
  color: #fff;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
}

.box p {
  margin-top: 15px;
}

.heading,
.twitter,
.rants{
  background-color: #28272F;
}

.bio,
.contact {
  background-color: #D2DBDE;
}

.music {
  background-color: #B2B9BE;
}

.art,
.potus {
  background-color: #3BBBB8;
}

.twitter {
  background-color: #28272F;
}

.potus {
  width: 100%;
}

.icon {
  max-width: 70px;
}


@media(min-width: 1120px) {
  body {
    flex-direction: row-reverse;
  }
  .hero-image {
    flex-basis: 100%;
  }
}

@media(min-width: 1460px) {
  .box.heading {
    flex: 1 1 62%;
  }
  .box {
    flex: 1 1 33.3333%;
  }
}
